*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
* body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, transparent,#1C6BA4
    );
  
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color:#fff;
}
.container{
    width: 100%;
    min-height: 100vh;
/*     background: #1C6BA4 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.signup-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.col-1, .col-2{
    flex-basis: 50%;
    flex-grow: 1;
}
.col-1 img{
    width: 100%;
    display: block;
}
.col-2{
    background: #fff;
    padding: 40px 8%;
    color: #333;
    min-width: 250px;
    border-radius: 30px;
}
.col-2 h2{
    font-weight: 600;
}
.col-2 span{
    font-size: 12px;
}
.col-2 span a{
    text-decoration: none;
    color: #1C6BA4;
    font-weight: 500;
}
.google-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1C6BA4;
    text-decoration: none;
    color: #555;
    font-size: 13px;
    margin: 20px 0;
}
.google-link img{
    width: 20px;
    margin-right: 10px;
}
.col-2 h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.input-field{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1C6BA4;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
}
form label{
    font-weight: 500;
    font-size: 12px;
}
.row{
    display: flex;
    align-items: center;
}
.row input{
    margin-right: 6px;
}
.col-2 form button{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid#1C6BA4;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    background: #1C6BA4;
    color: #fff;
    cursor: pointer;
}