//Home page
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
* body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient( to right, #FFFFFF 50%, #DCEDF9 50% );
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #1C6BA4;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    left: 40px;
    margin-left: 50px;
}
.col-1 h2{
    font-size: 54px;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    font-size: 16px;
   margin-bottom: 30px ;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: #1C6BA4;
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
  background: linear-gradient( #DCEDF9 50%, #1C6BA4);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position: relative;
/*     left: 90px; */
    flex-basis: 43%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 30%;  
}
@media only screen and (max-width:700px){
    
    nav ul{
        width: 100%;
        background: linear-gradient( #DCEDF9, #1C6BA4);
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
      left: 15%;
    }
    .col-2 .controller{
        width: 77%; 
       
    }
 .col-2 img{
   width: 70%;
   height:70%;
 }
    .col-1{
        flex-basis: 100%;
      left: 0px;
      align-items: center;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 15px;
    }
    .col-1 h4{
        font-size: 15px;
    }
}



//sign up page

// .container{
//     width: 100%;
//     min-height: 100vh;
//     background: linear-gradient(45deg, transparent,#1C6BA4
//     );
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 5%;
// }
// .signup-box{
//     display: flex;
//     align-items: center;
//     width: 100%;
//     max-width: 800px;
//     flex-wrap: wrap;
// }
// .col-10, .col-12{
//     flex-basis: 50%;
//     flex-grow: 1;
// }
// .col-10 img{
//     width: 100%;
//     display: block;
// }
// .col-12{
//     background: #fff;
//     padding: 40px 8%;
//     color: #333;
//     min-width: 250px;
//     border-radius: 30px;
// }
// .col-12 h2{
//     font-weight: 600;
// }
// .col-12 span{
//     font-size: 12px;
// }
// .col-12 span a{
//     text-decoration: none;
//     color: #1C6BA4;
//     font-weight: 500;
// }
// .google-link{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 10px;
//     border-radius: 4px;
//     border: 1px solid #1C6BA4;
//     text-decoration: none;
//     color: #555;
//     font-size: 13px;
//     margin: 20px 0;
// }
// .google-link img{
//     width: 20px;
//     margin-right: 10px;
// }
// .col-12 h4{
//     text-align: center;
//     font-weight: 400;
//     margin-bottom: 10px;
// }
// .input-field{
//     padding: 10px;
//     border-radius: 4px;
//     border: 1px solid #1C6BA4;
//     outline: none;
//     display: block;
//     width: 100%;
//     margin: 5px 0 10px;
// }
// form label{
//     font-weight: 500;
//     font-size: 12px;
// }
// .row{
//     display: flex;
//     align-items: center;
// }
// .row input{
//     margin-right: 6px;
// }
// .col-2 form button{
//     padding: 10px;
//     border-radius: 4px;
//     border: 1px solid#1C6BA4;
//     outline: none;
//     display: block;
//     width: 100%;
//     margin: 18px 0 10px;
//     background: #1C6BA4;
//     color: #fff;
//     cursor: pointer;
// }